/*reset*/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html{
  font-size: 20px;
  letter-spacing: 1px;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #1E1E1E;
  color: #959595;
}

.container{
  max-width: 80%;
  margin: 0 auto;
}

.navigation-list{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  
}


a{
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #959595;
}

a:hover{
  color: #FD6F00;

}

h1{
  font-size: 45.5px;
  font-weight: 900;
  letter-spacing: 1px;
  background-image: linear-gradient(to right , #984300, #FD6F00, #CA5900);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1.5rem 0 2.5rem;
}

.name{
  padding-top: .5rem;
  font-weight: 900;
}

.Hire{
  background-color: #FD6F00;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.Hire:hover{
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #FD6F00;
  color: #FD6F00;
}

.number{
  color: #FD6F00;
  font-weight: 900;
  letter-spacing: 1px;
}

.label{
  font-weight: 700;
  color: #DFDFDF;
  letter-spacing: 1px;
  margin-top: 0.75rem;
}

.profile-img{
  width: 350px;
  border-radius: 50%;
}
.circle {
  position: absolute;
  width: 17.5rem; 
  height: 19rem;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 50%;
  z-index: -1;
}
#intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-container{
  margin-left: 10px;
  padding-left: 5rem;
}

.cloud-img{
  width: 30rem;
  height: 25rem;
  position: absolute;
  z-index: -1;
  filter: blur(150px);
  opacity: .3;
}

.profile-info{
  padding: 1rem 0 3rem;
}

.role{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 2rem;
  border-radius: 8px;
  gap: 2rem;
  padding: 1rem 2rem ;
  width: 25rem;
  z-index: 2;
}

/*service*/

h2{
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

h3{
  color: #FD6F00;
  margin-bottom: 1rem;
}

h4{
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.education{
  margin: 1rem 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.experience{  
  text-align: center;
  margin-bottom: 3rem;
  max-width: 100%;
  margin: 3rem auto;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

li{
  list-style: none;
  text-align: center;
}

/*about me*/
h5{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color:white;
  margin-bottom: 3.5rem;
}

.image-container2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img2{
  width: 500px;
  border-radius: 30px;
}
.circle2 {
  position: absolute;
  width: 24rem; 
  height: 25rem;
  margin-top: 2rem;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 60% 60% 20px 20px;
  z-index: -1;
}

.about-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  gap : 2rem
}

.summary{
  text-align: center;
  margin-top: 5rem;
}

.skills{
  text-align: center;
  margin-top: 3.5rem;
}

/*contact*/
h6{
  font-size: 2rem;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
}

#contact-me p{
  margin-top: 18px;
  margin-bottom: 2rem;
  text-align: center;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.contact-info{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.credits{
  font-size: .8rem;
  text-align: center;
  padding: 1rem 0;
}

hr{
  border: 1.5px solid rgba(128, 128, 128, 0.5);
  max-width: 60%;
  margin: 0 auto;
}

.skills, .summary{
  line-height: 2rem;
  margin-top: 2rem;

}

.projects{
  color:#CA5900;
}


@media screen and (max-width: 600px){
  .navigation-list{
    display: none;
  }
  #intro{
    margin-top: 5rem;
    text-align: center;
    display: block;
  }
  .cloud-img{
    width: 20rem;
    height: 20rem;
    margin-left: -10rem;
  }
  .role{
    max-width: 100%;
  }

  .image-container{
    padding: 0;
    margin-bottom: 5rem;
  }

  h2{
    margin-bottom: 3rem;
  }

  .Hire{
    margin-bottom: 1rem;
  }

  h4{
    font-size: 1rem;
    font-weight: 300;
  }

  li{
    font-size: .9rem;
  }
  ul{
    padding: 1rem;
  }

  .experience{
    margin-bottom: 5rem;
  }

  h5{
    margin-bottom: 3rem;
  }
  .about-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    gap: 1rem;
  }
  .image-container2{
    padding: 0;
    margin-bottom: -2rem;
  }

  .circle2{
    width: 20rem;
  }

  .profile-img2{
    width: 20rem;
    padding-top: 2rem ;
    margin-top: 3.5rem;
  }

 

  .skills, .summary{
    line-height: 2rem;
    margin-top: 2rem;

  }

  .contact-info{
    display: block;
  }


}
